fastapi==0.110.0
pydantic==2.7.4
langchain==0.3.24
langchain-community==0.3.23
openai==1.77.0
uvicorn==0.29.0
faiss-cpu==1.7.4
python-dotenv==1.0.1
typing-extensions==4.13.2
langchain_openai==0.3.14
langchain_pinecone==0.2.6
pinecone==6.0.2
protobuf==5.29.4
googleapis-common-protos==1.70.0